.card {
  margin-top: 3rem;
  margin-left: 1rem;
  /* width: 700px; */
  /* margin-left: ; */
  /* margin-top: 5rem; */
}
/* .form-control {
  width: 851px;
  margin-left: 98px;
}
.badge {
} */
#span {
  cursor: pointer;
}
